.header {
  width: 100%;
}
.header__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin-block: 90px 0;
  text-align: center;
}
.header__subtitle {
  margin-block: 32px 0;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.header__image {
  filter: grayscale(100%);
  margin-top: 64px;
  width: 100%;
}

@media (max-width: 1024px) {
  .header__titles {
    padding-inline: 24px;
  }
  .header__title {
    font-size: 75px;
    line-height: 79px;
  }
  .header__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-top: 25px;
  }
  .header__image {
    margin-top: 30px;
  }
}

@media (max-width: 544px) {
  .header__titles {
    padding-inline: 16px;
  }
  .header__title {
    font-size: 40px;
    line-height: 44px;
    margin-top: 50px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
  .header__image {
    margin-top: 40px;
  }
}
