.intro {
  max-width: 84%;
  text-align: left;
}
.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0;
  text-align: left;
}
.intro__quote {
  margin-block: 40px 0;
}
.intro__text {
  margin-block: 32px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  text-align: left;
  width: 87%;
}
