.intro {
  max-width: 84%;
  text-align: left;
}
.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0;
  text-align: left;
}
.intro__quote {
  margin-block: 40px 0;
}
.intro__text {
  margin-block: 32px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  text-align: left;
  width: 87%;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 100%;
    padding-inline: 24px;
  }
  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }
  .intro__text {
    width: 100%;
    font-size: 16px;
    line-height: 163%;
  }
}
@media (max-width: 544px) {
  .intro {
    padding-inline: 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
