
.page {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
  padding-top: 34px;
  padding-bottom: 24px;
  padding: 34px 148px 24px;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
}
.page__intro {
  margin-top: 92px;
}
.page__footer {
  margin-block: 92px 0;
}
/* breakpoints */
/* 1024px */
/* 544px */

@media (max-width: 1024px) {
  .page {
    max-width: 1024px;
    padding-inline: 0;
  }
  .page__intro {
    margin-top: 90px;
  }
  .page__footer {
    margin-top: 88px;
  }
}
@media (max-width: 544px) {
  .page {
    max-width: 544px;
  }
  .page__intro {
    margin-top: 64px;
  }
  .page__footer {
    margin-top: 64px;
  }
}
