.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 24px;
  padding: 34px 148px 24px;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  border: solid 1px blue;
}
.page__intro {
  margin-top: 92px;
}
.page__footer {
  margin-block: 92px 0;
}
