.quote {
  width: 87%;
  margin: 0;
}
.quote__text {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}
.quote__paragraph {
  margin-block: 40px 0;
}
.quote__author {
  text-align: right;
  margin-top: 10px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .quote {
    width: 100%;
  }
  .quote__paragraph {
    margin-top: 50px 0;
  }
  .quote__author {
    margin-top: 26px;
  }
}

@media (max-width: 544px) {
  .quote__paragraph {
    margin-top: 40px 0;
  }
  .quote__author {
    margin-top: 10px;
  }
}
